{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "experimentalTernaries": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindPreserveWhitespace": true,
  "importOrder": [
    "^react$",
    "^react-router$",
    "<THIRD_PARTY_MODULES>",
    "^@/assets/(.*)$",
    "^@/router/(.*)$",
    "^@/shared/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/store/(.*)$",
    "^@/api/(.*)$",
    "^@/feature/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "README.md",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
